header{
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: space-between;
    padding: 10px 14px 5px;
    margin-bottom: 2%;
}
header > img {
    width: 82px;
    height: 17px;  
}

.wrapper{
    display: flex;
    flex-direction: row;
}

.wrapper span{
    padding-right: 10px;
    padding-left: 10px;
}

.wrapper button {
    cursor: pointer;
    transition:all .2s ease-in-out;
    border-radius: var(--global-radius);
    border-width: 1px;
    font-size: 0.9rem;
    font-weight: 700;
    margin-bottom: 2%;
    background-color: var(--global-primary-color);
    border-color: var(--global-primary-color);
    color: var(--global-bg-color-soft);;
    width: 70px;
}

.wrapper button:hover{
    background-color: var(--global-bg-color-soft);
    color: var(--global-primary-color);
    font-weight: bold;
}

.wrapper > div {
    cursor: pointer;
}

.wrapper div:hover {
    color: var(--global-primary-color);
}


@media screen and (max-width: 500px){
    .wrapper span{
        font-size: 13px;
    }
    .wrapper button {
        border-radius: var(--global-radius);
        font-size: 0.7rem;
        margin-bottom: 5%;
        width: 50px;
    }
}